@import '../../Vars.scss';
.search-form {
  background-color: $yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $gray;
    .input-search {
      border: none;
      outline: none;
      font-size: 18px;
      height: 38px;
      margin: 10px 0 10px 20px;
      width: 70%;
      border-radius: 5px 0 0 5px;
      padding: 0 18px;
    }
    .button-input-search {
      border: none;
      height: 38px;
      width: 38px;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
    }
}

